.loginPage{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #FFFFF0;
}

.loginBoxHome{
    background-color: #FFFFFF;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 1%;
    box-shadow: 0px 0px 15px #00000029;
    margin-top: 0%;
    box-sizing: border-box;
    height: inherit;
    width: 70vw;
    z-index: 101;
}

.topHome{
    display:flex;
    justify-content: space-around !important;
    align-items: flex-start;
}

.middleHome{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.input[type="text" i] {
    background-color: #ffffff;
    padding-right: 0px !important;
    border-radius: 20px !important;
}