.loginPage{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #FFFFF0;
}

.loginBox{
    background-color: #FFFFFF;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
    box-shadow: 0px 0px 15px #00000029;
    box-sizing: border-box;
    height: 55vh;
    width: 60vw;
    margin-top: 7.5%;
    z-index: 101;
}

.loginForm{
    display: flex;
    height: inherit;
    border-top-right-radius: 1%;
    border-bottom-right-radius: 1%;
    background-color: #0863CD;
}

#outlined-adornment-password {
    background-color: #ffffff !important;
    font-size: 18px;
    height: 15px;
    border-radius: 20px !important;
    width: 100% !important;
  }
  
.MuiOutlinedInput-adornedEnd {
    background-color: #ffffff;
    padding-right: 0px !important;
    border-radius: 20px !important;
    margin-bottom: 2% !important;
  }